{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div class="container mt-3">

            <div class="row">
                <div class="col-md-4 offset-md-4">

                    <h2 class="text-center">Sign Up</h2>

                    <div class="form-wrapper">
                        <form action="/register" method="post">

                            <div class="mb-3 mt-3">
                                <label for="username" class="form-label"><h4>Username:</h4></label>
                                <input class="form-control" autocomplete="off" autofocus id="username" name="username" placeholder="Create a username" type="text">
                            </div>

                            <div class="mb-3 mt-3">
                                <label for="password" class="form-label"><h4>Password:</h4></label>
                                <input class="form-control" id="password" name="password" placeholder="Create a password" type="password">
                                <input class="form-control mt-1" id="password_confirmation" name="confirmation" placeholder="Password Again" type="password">
                            </div>

                            <div class="mb-3 mt-3">
                            <button class="w-100 btn btn-lg btn-outline-primary" type="submit"><b>Register</b></button>
                            </div>

                            <div class="mb-3 mt-3">
                                <div class="flash-message">
                                    {% with message = get_flashed_messages() %}
                                        {% if message %}
                                            <h4 class="alert alert-primary">{{ message }}</h4>
                                        {%endif%}
                                    {% endwith %}
                                </div>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        
    </div>
{% endblock %}